.formBlock {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

