.settingMenu {
  position: absolute;
  width: 90%;
  max-width: 360px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 80px;
  right: 10%;

  .btnsContainer {
    display: flex;
    padding: 20px;

    .btnDecline {
      margin-left: 10px;
    }
  }

  .userProfile {
    display: flex;
    align-items: center;
    padding: 5px 10px;

    .checkUserProfile {
      margin-left: 10px;
    }

    img {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    h3 {
      font-size: 18px;
      cursor: pointer;
    }

    p {
      font-size: 14px;
      font-weight: bold;
      color: #102A43;
      transition: .1s;
      white-space: nowrap;

    }

    h3:hover {
      color: #9a9a9a
    }
  }

  .noFriends {
    display: flex;
    justify-content: center;
    margin-top: 50px
  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}