
.postContainer {
  width: 100%;
  background: #FFFFFF;
  padding: 20px;
  color: #626262;
  margin: 10px;
  border-radius: 6px;

  .postRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 40px;
      user-select: none;
      color: #9a9a9a;
    }

    .activityIcons {
      img {
        cursor: pointer;
        width: 18px;
        margin-right: 10px;
      }
      div {
        display: inline-flex;
        align-items: center;
        margin-right: 30px;
      }
    }
    .postProfileIcon {
      display: flex;
      align-items: center;
      img {
        width: 20px;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  .postImg {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .postText {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;

    span {
      color: #626262;
      font-weight: 500;
    }
    a {
      color: #1876f2;
    }
  }

  .userProfile {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      width: 45px;
      border-radius: 50%;
      margin-right: 10px;
    }

    span {
      font-size: 13px;
      color: #9a9a9a
    }

    p {
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      color: #626262;
      transition: .1s
    }
    p:hover {
      color: #9a9a9a;
    }
  }
}

.loadPosts {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    min-height: 500px;
    background: #FFFFFF;
    min-width: 450px;
}