.userContainer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 1px;
  padding: 10px;
  max-width: 100%;
  flex-direction: row;

  .callItems {
    display: flex;
    justify-content: space-between;

    flex-direction: row;

    p {
      cursor: pointer;
    }

    p:last-child {
      margin-left: 10px;
    }
  }
}
