.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: white;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05); /* Updated box shadow with lower opacity */
  width: 100%;

  .leftContainer {
    display: flex;

    .search {
      margin-top: 10px;
      margin-left: 10px;
    }

    .img {
      margin-top: 5px;
      margin-left: 30px;
      height: 40px;
      width: 40px;
    }
  }

  .middleContainer {

    .links {
      margin-right: 30vw;
      display: flex;

      .link {
        text-decoration: none;
        color: black;
        margin-left: 15px;
        font-size: 18px;
        font-weight: normal;
        transition: .2s;
        position: relative;

        &:after {
          font-weight: normal;
          content: "";
          position: absolute;
          background-color: white;
          height: 3px;
          width: 0%;
          left: 0;
          top: 28px;
          transition: 0.3s;
          border-radius: 3px;
        }

        &:hover:after {
          width: 100%;
          background-color: #dd9300;
        }

        &:hover {
          color: #d1951d;
        }

      }

      .active {
        font-size: 18px;
        text-decoration: none;
        color: #d1951d;
        margin-left: 15px;
        font-family: 'Inter', sans-serif;
        transition: .2s;
        position: relative;

        &:hover {
          color: #d1951d;
        }

        &:after {
          font-weight: normal;
          content: "";
          position: absolute;
          background-color: white;
          height: 3px;
          width: 0%;
          left: 0;
          top: 28px;
          transition: 0.3s;
          border-radius: 3px;
        }

        &:after {
          width: 100%;
          background-color: #dd9300;
        }
      }

    }

  }

  .rightContainer {
    display: flex;
    width: 300px;
    margin-left: 20px;

    .msgCircle {
      cursor: pointer;
      height: 50px;
      width: 50px;
      background: #F0F2F5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      transition: .2s;

      .msg {
        user-select: none;
        width: 25px;
        height: 25px;
      }
    }

    .user {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-left: 20px;
      cursor: pointer;
    }

    .msgCircle:hover {
      background: #dadde3;

    }
  }

}

.active {
  border-bottom-color: #1B74E4;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%
  }
}