.postsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;

  .imgList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 8px;

    img {
      cursor: pointer;
      object-fit: cover;
      opacity: 1;
      display: block;
      width: 100%;
      height: 350px; 
      transition: .1s ease;
      backface-visibility: hidden;
    }
    img:hover {
      opacity: 0.3;
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}