.directContainer {
  background: #FFFFFF;
  min-height: 74vh;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;

  .chatMenuWrapper {
    flex: 3.5;

    .chatMenuInput {
      margin-left: 10px;
      width: 87%;
      padding: 10px 0;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
    }
  }
  .chatBoxWrapper {
    flex: 5.5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chatBoxTop {
      max-height: 70vh; /* Set your desired max height */
      overflow-y: auto; /* Enable vertical scrolling */
      padding-right: 20px;
    }


    .chatBoxTop::-webkit-scrollbar {
      width: 12px;
    }

    .chatBoxTop::-webkit-scrollbar-track {
      background: #f2f2f2; /* Light background color for the track */
    }

    .chatBoxTop::-webkit-scrollbar-thumb {
      background-color: #ccc; /* Lighter color for the thumb */
      border-radius: 10px;
      border: 2px solid #ddd; /* Light border around the thumb */
    }


    .chatBoxBottom {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .chatMessageInput {
        width: 80%;
        height: 90px;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "";
          width: 6px; /* Width of your scrollbar */
          background: #999; /* Color of your scrollbar */
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      .submitButton {
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: teal;
        color: white;
      }
    }
  }
  .chatOnlineWrapper {
    flex: 3;
  }

}
.chatMenu, .chatOnline, .chatBox {
  padding: 10px;
  height: 100%;
}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 25px;
  color: gray;
  //text-align: center;
  cursor: default;
}