@font-face {
  font-family: 'Poppins'; /* Use the font-family from Google Fonts */
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;}
html,
body {
  max-width: 100vw;
  background: #F0F2F5;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}