
.middleSide {
  width: 100%;
  background: #FFF;
  margin-left: 10px;
  margin-right: 50px;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  
  .userProfile {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: #102A43;
      transition: .1s
    }
    p:hover {
      color: #9a9a9a
    }
  }

  .postInputContainer {
    padding-left: 55px;
    padding-top: 20px;

    .addPostLink {
      display: flex;
      margin-top: 10px;

      a {
        display: flex;
        align-items: center;
        color: #626262;
        margin-right: 30px;
        font-size: 13px;

        img {
          width: 20px;
          margin-right: 10px;
        }
      }
    }

    textarea {
      width: 100%;
      outline: none;
      border: 0;
      border-bottom: 1px solid #ccc;
      background: transparent;
      font-size: 15px;
      resize: none;
      overflow: hidden;
    }
  }
}